@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  font-weight: 500;
  color: #3f3f3f;
  font-family: 'Poppins', sans-serif;
  line-height: 1.7em;
  width: 100%; }

.container {
  width: 100%; }

img {
  width: 100%; }

a {
  text-decoration: none;
  font-size: 1.1em;
  color: black; }

input {
  padding: 0.2em;
  background: #eee;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.counter {
  padding: 0.5em !important;
  margin: 0; }

.heading-top {
  text-transform: uppercase;
  margin: 0.5em; }

body {
  font-size: 16px;
  color: black;
  font-weight: 400;
  line-height: 1.2; }

.red-btn {
  background-color: #ee534f !important;
  color: #fff !important;
  border: none !important; }

.btn {
  display: inline-block;
  color: #3f3f3f;
  border-radius: 4px;
  padding: 1em;
  border: 2px solid grey;
  margin: 10px;
  transition: 1s all; }
  .btn:hover {
    transform: translateX(10px); }
    .btn:hover .arrow {
      display: inline;
      transform: translateX(10px); }

.white-btn {
  background: #fff !important; }

.arrow {
  display: none; }

.footer-icon {
  display: flex;
  margin: 0 1.4em;
  align-items: center;
  margin-left: 0; }
  .footer-icon:nth-child(3) .icon {
    color: #ee534f;
    border: 1px solid #ee534f; }
  .footer-icon .icon {
    border: 1px solid #3f3f3f;
    border-radius: 3px;
    padding: 4px; }
  .footer-icon .icon-text {
    padding: 0.8em; }
    .footer-icon .icon-text h4 {
      color: #3f3f3f; }

.header {
  padding: 20px;
  overflow: hidden; }
  .header .top {
    margin: 0 auto; }
    .header .top a {
      padding: 1.1px;
      transition: 0.2s;
      font-size: 17px;
      text-transform: uppercase; }
      .header .top a:hover {
        color: #ee534f; }
    .header .top .current {
      color: #ee534f; }
  .header #mobile-nav {
    display: block;
    height: 0; }
  .header .open {
    height: auto !important; }

.landing-pg {
  background: url("/images/Code4CT-homepage.jpg");
  background-color: #3f3f3f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  background-blend-mode: multiply; }
  .landing-pg .landing-content {
    color: #fff;
    text-align: center;
    top: 10rem;
    position: relative;
    max-width: 900px;
    margin: 0 auto; }
    .landing-pg .landing-content h1 {
      font-size: 3em; }

main {
  margin-top: 2.0em; }

.title {
  width: 17em;
  padding: 1.5em 0; }
  .title .red {
    color: #ee534f;
    border: 3px solid;
    width: 30%;
    top: 12px;
    left: -6em;
    position: relative; }
  .title .line {
    border: 1px solid #e1918a;
    width: 5em; }

.about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0;
  grid-template-areas: "about_info" "about_info" "about_gallery" "about_gallery"; }
  .about .about-content {
    grid-area: about_info; }
  .about .about-gallery {
    grid-area: about_gallery;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px; }
    .about .about-gallery .about-grid {
      background: #161515;
      width: 100%; }

.darkfullWidth {
  background: #000; }

.lightFullWidth {
  background: #eee; }

.redFullWidth {
  background: #ee534f; }

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #fff;
  padding: 0 5em;
  text-align: center; }
  .info i {
    font-size: 3em;
    color: #ee534f;
    padding: 20px;
    margin: 0; }

.courses .courses_grid {
  align-self: center;
  align-content: center;
  text-align: center; }
  .courses .courses_grid .course_item {
    width: 250px;
    height: 250px;
    background: #3f3f3f; }
  .courses .courses_grid .course_item3 {
    background: #3dfaaa; }

.team .team-content {
  display: flex; }
  .team .team-content .team-inner {
    margin: 1.4em;
    display: flex; }
    .team .team-content .team-inner .icons i {
      margin: 0.5em; }
    .team .team-content .team-inner .team-picture {
      width: 300px;
      margin: 1em; }

.Counter, .slider {
  padding: 2em;
  color: #fff; }

.subscribe {
  text-align: center;
  padding: 2em; }
  .subscribe .red-btn {
    color: #fff;
    border-radius: 4px;
    padding: 0.4em;
    border: 1px solid #eee;
    transition: 1s all;
    font-family: Arial, Helvetica, sans-serif; }

.Counter {
  display: flex;
  max-width: 700px;
  margin: 0 auto; }
  .Counter .line {
    max-width: 43px; }
  .Counter hr {
    width: 1.5em;
    border: 2px solid #ee534f; }
  .Counter .counter-content {
    flex: 1 1 0;
    width: 3em; }
  .Counter h5 {
    font-weight: 300; }

.footer {
  display: flex;
  overflow-x: visible;
  margin: 0 auto;
  text-align: left; }
  .footer .footer-item {
    margin: 1.2em; }
    .footer .footer-item:first-child {
      padding-top: 2em; }
    .footer .footer-item h2 {
      color: #3f3f3f; }
    .footer .footer-item ul {
      padding: 10px; }
      .footer .footer-item ul li {
        padding: 0.3em; }
        .footer .footer-item ul li:hover {
          color: #ee534f; }

.bottom-footer {
  color: #fff;
  display: flex;
  justify-content: space-between; }
  .bottom-footer .bottom-left {
    align-content: flex-start; }
  .bottom-footer .bottom-right {
    align-content: flex-end; }
    .bottom-footer .bottom-right .bottom-content {
      display: flex;
      align-content: center;
      align-items: center; }
      .bottom-footer .bottom-right .bottom-content i {
        margin: 0.5em; }

.landing-top, .portfolio-content {
  height: 10em;
  background: #eee;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #3f3f3f;
  flex: 1 1 0; }
  .landing-top .heading-content, .portfolio-content .heading-content {
    flex: 1 1 0;
    text-align: center; }
    .landing-top .heading-content nav a, .portfolio-content .heading-content nav a {
      transition: 0.5s; }
      .landing-top .heading-content nav a:hover, .portfolio-content .heading-content nav a:hover {
        color: #ee534f; }

.contact-content {
  display: flex;
  padding-top: 3em;
  margin: 0.5em; }
  .contact-content form {
    margin: 2em 0;
    margin-right: 1.5em; }
    .contact-content form textarea {
      background: #fff;
      margin: 2em 0;
      border: 1px solid #3f3f3f;
      display: block; }
  .contact-content input {
    background: #fff;
    color: #3f3f3f;
    border: 1px solid;
    border-radius: 5px; }
  .contact-content .contact-icon {
    display: flex;
    margin: 1.5em; }

#map {
  max-width: 100%;
  height: 30em;
  background: #a16161; }

.portfolio-content {
  display: inline !important;
  padding-top: 1.5em;
  background: #fff !important; }
  .portfolio-content .title {
    margin: 0 auto;
    width: 18em !important; }
    .portfolio-content .title .red {
      left: 0em; }
  .portfolio-content p {
    margin-top: 0; }

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  margin: 0; }
  .portfolio-grid .grid {
    background: #eee;
    width: 318px;
    max-width: 100%;
    height: 200px;
    transition: 0.5s ease;
    transform: scale(10deg);
    margin: 0 -20px; }
    .portfolio-grid .grid:hover {
      background: #ee534f !important; }
    .portfolio-grid .grid:nth-of-type(2n) {
      background: #3f3f3f;
      width: 350px;
      max-width: 100%; }

.about-page-top {
  display: flex; }
  .about-page-top .about-page-text {
    max-width: 400px; }
  .about-page-top .about-page-right .about-right-image {
    max-width: 400px; }

.about-full-screen {
  width: 100%;
  display: flex; }
  .about-full-screen .about-screen-half {
    width: 50%;
    background: #eee; }
    .about-full-screen .about-screen-half:first-child {
      padding-right: 1em; }
    .about-full-screen .about-screen-half .about-page-content .about-page-text h4 {
      color: #ee534f; }

@media (max-width: 649px) {
  .container {
    padding: 1em; }

  .search-menu {
    display: none;
    padding: 20px; }

  .top {
    overflow: hidden; }
    .top #nav {
      margin: 0;
      display: none; }
    .top #menu-bar {
      float: right;
      position: relative;
      top: 5px; }
    .top #logo {
      float: left;
      width: 50%; }
    .top:after {
      clear: both;
      display: block;
      content: ''; }

  #mobile-nav {
    display: none;
    text-align: center;
    transition: 1s all;
    position: relative;
    top: 17px; }
    #mobile-nav a {
      display: block;
      transition: 0.5s; }
      #mobile-nav a:hover {
        color: #e1918a; }

  .landing-pg {
    height: 100%;
    overflow: hidden; }
    .landing-pg .landing-content {
      padding: 2em;
      top: 1rem; }
      .landing-pg .landing-content h1 {
        font-size: 2em; }

  .contact-content {
    flex-direction: column; }

  .about-page-top {
    flex-direction: column; } }
@media (min-width: 770px) {
  .about {
    padding: 50px;
    display: flex; }
    .about .about-content {
      width: 52%;
      margin: 10px; }
    .about .about-gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
      grid-gap: 10px;
      width: 50%; }
    .about .about-grid {
      background: black;
      grid-gap: 10px; } }
@media (min-width: 800px) {
  .container {
    padding: 0 5em; }

  .courses_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
    align-self: center;
    align-content: center;
    text-align: center; }
    .courses_grid .course_item3 {
      grid-column: 3 / -1;
      grid-row: 1 / -1;
      width: 100% !important;
      height: 100% !important; } }
@media (max-width: 600px) {
  body {
    overflow: hidden; }

  .about-gallery .about-grid {
    height: 250px;
    margin: 0 auto; }

  .info {
    grid-template-columns: auto;
    padding: 0 3em; }

  .courses_grid {
    display: flex;
    flex-direction: column; }

  .course_item {
    margin: 0 auto;
    width: 100%;
    height: 100%; }

  .team img {
    width: 100%; }
  .team .team-content {
    flex-direction: column; }
    .team .team-content .team-inner {
      flex-direction: column; }

  footer {
    flex-direction: column; } }
@media (min-width: 650px) {
  #menu-bar {
    display: none; }

  #logo {
    display: none;
    width: 50%;
    float: left; }

  .top {
    width: 650px; }

  nav {
    text-align: right;
    display: inline;
    float: left; }

  .search-menu {
    float: right; }
    .search-menu button {
      color: #e1918a;
      padding: 0.2em 5px; }

  #mobile-nav {
    visibility: hidden; } }

/*# sourceMappingURL=main.css.map */
