

// ======================= Base Styles ======================== // 
* {
    box-sizing: border-box;
    // removed overflow from here to display bullets that were hidden
}

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0; 
    font-weight: 500;
    color: $text-color;
    // background-color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7em;
    width: 100%;
}

// Top section
.container {
    // background: #eee;
    width: 100%;
    // max-width when the screen is streched
    // padding: 20px;
    // max-width: 1400px;
}
img {
    width: 100%;
    height: 100%;
    // fits images completely inside the div
}
a {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
}
input {

    padding: 0.2em;
    // border-right: none;
    background: $light-grey;
    color: $white;

}
.light-text {
    // color: $light-grey;
}
h1 , h2 , h3 , h4 , h5 , h6 {

    padding: 0;
    margin: 0;

}
.counter {
    
    padding: 0.5em !important;
    margin: 0;
    font-size: 1.5em;
}

.heading-top {

    text-transform: uppercase;
    margin: 0.5em;
    
}
// ====== Slider ====== //



