// Fonts added
@import url('https://fonts.googleapis.com/css?family=Poppins');

// ============= Variables ================== //


// colors
$light-red: #e1918a;
$dark-red: #ee534f;
$dark-back: #000;
$text-color: #3f3f3f;

// spacing
$center-content: 0 auto;
