// Header Styles
.header{

    padding: 20px;
    // creates some breathing space on top nav
    overflow: hidden;

    // Top Navigation only
    .top {
        // sets a centered fixed width for top content
        margin: $center-content;
    
        a {
            padding: 1.1px;
            transition: 0.2s;
            font-size: 17px;
            text-transform: uppercase;
            // overflow-y: hidden;
            // remove default styles
            &:hover {
                color: $light-red;
            }
        }
    
        .current {
            color: $light-red;
            // color will be on current page
        }
    
    }
    // Responsive Menu
    #mobile-nav {
        display: block;
        // Makes it display but not visible
        height: 0;
        // Removes Movile navigation on larger screens
    }
    // Open will add a height to the Mobile nav
    .open {
        height: auto !important;
        // normal height length will over-ride the height 0
    }

}
// landing page section outside header
.landing-pg {
    background: url('/images/Code4CT-homepage.jpg');
    // opacity: 0.9;
    background-color: rgb(48, 48, 48);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    
    background-blend-mode: multiply;

    .landing-content {
        color: #fff;
        text-align: center;
        top: 10rem;
        // center the content inside the landing page
        position: relative;
        max-width: 900px;
        margin: $center-content;
        h1 {
            font-size: 3em;
        }
    }
}




@media(max-width: 649px){

    .container {
        padding: 0;
        margin: 0;
        // remove default spacing for mobile screen 
    }

    .search-menu {
        display: none;
        padding: 20px;
        // Hides the search box on mobile display
    }
// Top Navigation for Mobile
    .top{
        overflow: hidden;
        // hide any overflow

        #nav{
            margin: 0;
            display: none;
            // will display on tablet and larger screen only
        }

        #menu-bar {
            float: right;
            position: relative;            
            top: 5px;
            // Navigation Menu moves to right;
        }

        #logo {
            // margin-top: 10px;
            float: left;
            width: 50%;   
            //Logo goes to left on mobile 
        }

        &:after {@include clearfix}
        // clear any floats inside this section

    }

    // Mobile Nav inside Header 
    #mobile-nav {
        display: none;
        text-align: center;
        transition: 1s all;

        a {
            display: block;
            transition: 0.5s;
           
            &:hover {
            color: $light-red;
            }
        }
    }

    // landing page mobile section
    .landing-pg {
    //Mobile landing page container 

        .landing-content {
            padding: 1em;
            top: 5rem;

            h1 {
                font-size: 2em;
            }
        }
    }
    // infoSection under the about section
    .info {
        
    }
    
}

// Main section and below 
main {
    padding: 10px;
    // some spacing around the main content for mobile view
    margin-top: 2.0em;
}
// About content default
.title {
    width: 15em;
    // Top Title section will be constant over all sizes

    hr {
        // border: 1px solid $light-red;
        border: 0;
        height: 4px;
        background: #1e5799;
        background: linear-gradient(to right,  $light-red 30%,rgb(201, 200, 200) 50%);
        // Line under the About us text
    }
}

// Info Default section under about section
.info {
    background: $dark-back;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: #fff;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;

    i {
        font-size: 3em;
        color: $dark-red;
        padding: 20px;
        // spacing around the Icon
        margin: 0;
        // style the icon inside the header
    }
}

// Courses Section under the Info Section
.courses {
    // Courses Normal Desktop Version first
    .courses_grid { 
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(2,1fr);
        // added rows
        grid-gap: 5px;
        align-self: center;
        align-content: center;
        text-align: center;

        .course_item {
            width: 250px;
            height: 250px;
            background: $light-red;
        }
        // Merging courses item 3 to 2 other spaces
        .course_item3 {
            grid-column: 3/ -1;
            grid-row: 1/-1;
            // Takes the space of remaining columns and rows
            width: 100%;
            // displays full content
            height: 100%;
        }

    }
}
@media(max-width: 768px){
    // about Section 
    .about {
        display: grid;        
        grid-template-columns: repeat(1,1fr);
        padding: 0;
        grid-template-areas: 
            "about_info"
            "about_info"
            "about_gallery"
            "about_gallery";

        .about-content {
            grid-area: about_info;
            // background: #eee;
            // about content on mobile
        }
        .about-gallery {
            grid-area: about_gallery;
            display: grid;
            // on mobile display grid
            grid-template-columns: auto auto;
            // 2 columns on mobile 
            grid-gap: 10px;

            .about-grid {
                background: rgb(22, 21, 21);
                // display: block;
                height: 200px;
                width: 200px;
            }
        }
    }
// Info Default section under about section
    .info {
    }    
}


// media queries
@media(min-width:770px){
// after the tablet view have this display
    main {
        // margin: auto;
        padding: 0 10px;
        // background: rgb(207, 29, 29);
    }

    // Styling the about section]
       // About section inside the main
       .about {
        padding: 50px;
        display: flex;

        .about-content {
            width: 52%;
            margin: 10px;
            // need a media query 
        }

        .about-gallery {
            // About us grid section
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto auto;
            grid-gap: 10px;
            width: 50%;
        }
        .about-grid {
            background: rgb(0, 0, 0);
            grid-gap: 10px;
           
        }
    }
    
}

@media(min-width:800px){

    main {
        // margin: $center-content;
        // padding: 0 100px;
        // background: rgb(207, 29, 29);

        // ### will have margin displayed in each section div
    }
    
}

// Mobile styles for the Middle and below
@media(max-width:600px){
    // mobile styles for About section and below
    .info {
        grid-template-columns: auto;
    }
}

// Tablet and Desktop view 
// From base
@media(min-width: 650px){
    
    .container {
        padding: 20px;
        // creates some white space on tablet view
    }

    #menu-bar{
        display: none;
        // hide menu bar for larger screens
    }

    #logo {
        display: none;
        // hide logo for larger screens
    }

    .top {
        width: 650px;
    }

    // Nav bar styles for Tablat and larger screens
    nav {
        // padding: 20px;
        text-align: right;
        display: inline;
        // centers the nav inside this section
        float: left;
    }

    .search-menu {
        float: right;
        
        button {
            // padding: 0;
            // margin: -4px;
            color: $light-red;
        }
    }

    #mobile-nav {
        display: none;
        // Removes Movile version navigation on larger screens
    }

    #mobile-nav {
        display: none;
        // Removes Movile version navigation on larger screens
    }
    
}