// contains grid sections
.about-gallery {
    // About us grid section
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.about-grid {
    background: rgb(0, 0, 0);
    grid-gap: 10px;

}
