.header{
    padding: 20px;
    overflow: hidden;

    nav {
        // padding: 20px;
        text-align: right;
        display: inline;
        // centers the nav inside this section
        float: left;
    }

    .search-menu {
        float: right;
    }

    input {
        // margin-left: -10px;
        // display: inline;
        // displays inline
    }
}

// Top
.top {
    width: 600px;
    // sets a centered fixed width for top content
    margin: $center-content;

    a {
        padding: 1.1px;
        transition: 0.2s;
        font-size: 17px;
        text-transform: uppercase;
        // overflow-y: hidden;
        // remove default styles
        &:hover {
            color: $light-red;
        }
    }
       
}

// landing page section
.landing-pg {
    background: url('/images/Code4CT-homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;

    .landing-content {
        color: #fff;
        text-align: center;
        top: 30%;
        position: relative;
        padding: 2em;
        max-width: 900px;
        margin: $center-content;
        background: rgba(24, 22, 22, 0.418);

        h1 {
            font-size: 3em;
        }
    }
}