@media(max-width: 649px){
    .top{
        nav{
            display: none;
            margin: 0;
        }
        #menu-bar {
            float: right;
            position: relative;            
            top: 20px;
            // width: 10%;
        }
        #logo {
            // margin-top: 10px;
            float: left;
            width: 50%;           
        }
        &:after {@include clearfix}
        input {
            display: none;
        }
        
    }
    .container {
        padding: 0;
        margin: 0;
    }
    
    
}