@media(max-width: 649px){
    input {
        display: none;
        // Hides the search box on mobile display
    }

    .top{
        overflow: hidden;

        #nav{
            // display: inline;
            // margin: 0;
            display: none;
            // will display on tablet and larger screen

        }

        #menu-bar {
            float: right;
            position: relative;            
            top: 5px;
            // width: 10%;
        }

        #logo {
            // margin-top: 10px;
            float: left;
            width: 50%;           
        }

        &:after {@include clearfix}

    }

    .container {
        padding: 0;
        margin: 0;
    }
    // Mobile Nav inside Header 
    #mobile-nav {
        display: none;
        text-align: center;
        transition: 1s all;

        a {
            display: block;
            transition: 0.5s;
           
            &:hover {
            color: $light-red;
                
            }
            
        }
    }
    
}