

// base styles
* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0; 
}
// Top section
.container {
    background: #eee;
    width: 100%;
    // max-width when the screen is streched
    margin: 0 10px;
    // centers the container
}
img {
    width: 100%;
    // fits images completely inside the div
}
a {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    
}