

// base styles
* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0; 
}
// Top section
.container {
    // background: #eee;
    width: 100%;
    // max-width when the screen is streched
    // padding: 20px;
}
img {
    width: 100%;
    // fits images completely inside the div
}
a {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
}

// Tablet and Desktop view
.container {
    padding: 20px;
    // creates some white space on tablet view
    
}

