

// base styles
* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #3f3f3f;
}
// Top section
.container {
    // background: #eee;
    width: 100%;
    // max-width when the screen is streched
    // padding: 20px;
}
img {
    width: 100%;
    // fits images completely inside the div
}
a {
    text-decoration: none;
    font-size: 1.1em;
    color: black;
}
input {
    padding: 1.5px;
    // border-right: none;
}

// Tablet and Desktop view
@media(min-width: 650px){
    
    .container {
        padding: 20px;
        // creates some white space on tablet view
    }

    #menu-bar{
        display: none;
        // hide menu bar for larger screens
    }

    #logo {
        display: none;
        // hide logo for larger screens
    }

    .top {
        width: 650px;
    }

    // Nav bar styles for Tablat and larger screens
    nav {
        // padding: 20px;
        text-align: right;
        display: inline;
        // centers the nav inside this section
        float: left;
    }

    .search-menu {
        float: right;
        
        button {
            // padding: 0;
            // margin: -4px;
            color: $light-red;
        }
    }

    #mobile-nav {
        display: none;
        // Removes Movile version navigation on larger screens
    }

    #mobile-nav {
        display: none;
        // Removes Movile version navigation on larger screens
    }
    
}


