// variables


// colors
$light-red: #e1918a;
<<<<<<< HEAD
$dark-red: #cc463c;

=======
$dark-red: hsl(4, 59%, 52%);
>>>>>>> b706a86e28f296a8fc2a24d1833978eed95904f3

// spacing
$center-content: 0 auto;
